#buttonUtility{
	
	-fx-text-fill : white;
	-fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #7f3850 0%, #754555 100%),
        #ce1653,
        #9e4865,
        radial-gradient(center 50% 50%, radius 100%, #e54e7f, #c97490);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
#buttonUtility:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
#buttonUtility:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#buttonGame{
	
	-fx-text-fill : white;
	-fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #000066 0%, #000099 100%),
        #9999ff,
        #6666ff,
        radial-gradient(center 50% 50%, radius 100%, #66b3ff, #4d4dff);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}
#buttonGame:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
#buttonGame:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}







#buttonRed{
	-fx-background-color: #ff5050;
}
#buttonGreen{
	-fx-background-color: #99ff66;
}
#buttonOrange{
	-fx-background-color: #ff9966;
}





.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
	-fx-background-color: #47476b;
    
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
	-fx-background-color: #a3a3c2;
    
}
.tab-pane .tab
{
    -fx-background-color: #a3a3c2;

}

.tab-pane .tab:selected
{
    -fx-background-color: #47476b;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

#wrongAnswer{
	-fx-text-fill : #ff3333;
	-fx-font-size: 50;
	-fx-font-family: Arial;
	-fx-font-weight : bold;
}
#goodAnswer{
	-fx-text-fill : #66ff33;
	-fx-font-size: 50;
	-fx-font-family: Arial;
	-fx-font-weight : bold;
}
#titleLabel{
	-fx-text-fill : #e44e7d;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-font-size: 50;
	-fx-font-family: Arial;
	-fx-font-weight : bold;
}
#label{
	-fx-text-fill : white;
	-fx-font-size: 30;
	-fx-font-family: "Tahoma";
	-fx-font-weight : bold;
	
}
#labelGreen{
	-fx-text-fill : #5eea07;
	-fx-font-size: 30;
	-fx-font-family: "Tahoma";
	-fx-font-weight : bold;
}
#labelRed{
	-fx-text-fill : #f44b42;
	-fx-font-size: 30;
	-fx-font-family: "Tahoma";
	-fx-font-weight : bold;
}
#flowpane{
	-fx-background-radius: 20 20 20 20;
	-fx-background-color: #8585ad;
}
#grid{
	-fx-background-radius: 20 20 20 20;
	-fx-background-color: #666699;
}

.list-view .list-cell:even {
-fx-background-color: #9595b7;
-fx-text-fill: white;
-fx-font-size: 25;
-fx-font-weight: bold;
-fx-alignment: center;
-fx-background-insets: 2 


}
.list-view .list-cell:odd {
-fx-background-color: #d1d1e0;
-fx-text-fill: white;
-fx-font-size: 25;
-fx-font-weight: bold;
-fx-alignment: center;
-fx-background-insets: 2 


}
.list-view .list-cell:filled:selected:focused, .list-cell:filled:selected {
-fx-background-color: #e44e7d;
-fx-text-fill: white;
-fx-font-size: 43;
-fx-font-weight: bold;
-fx-alignment: center;
}

.image-view-wrapper:border {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}



 
